header{
	background-color:#301f15; /*#592d00;*/
	height:300px;
	width:100%;
	}
    #image1{
	height:200px;
	width:200px;
	border-radius:50%;
	margin-left:20px;
	margin-top:-15px;
	}
	nav{
	background-color:#6f4336;
	width:660px;
	height:50px;
	display:inline-block;
	margin-left:30px;
	position:absolute;
	margin-top:50px;
	}
	.list1{
	list-style:none;
	display:inline-block;
	font-family:verdana;
	font-weight:bold;
	margin-right:25px;
	}
	a{
	color:white;
	text-decoration:none;
	}
	.list1 a:hover{
	color:#6f4336;
	background-color:white;
	padding-top:16px;
	padding-bottom:14.5px;
	padding-left:5px;
	padding-right:5px;
	border-radius:10px;
	}
	#image2{
	float:right;
	height:300px;
	width:350px;
	}
	#text1{
	font-family:Freestyle Script;
	color:white;
	font-size:100px;
	display:inline;
	position:absolute;
	top:50px;
	left:300px;
	}
	#text2{
	color:white;
	text-align:center;
	font-family:Mistral;
	font-size:30px;
	margin-left:290px;
	position:absolute;
	margin-top:60px;
	}
	#section2{
	background-color:#DBBCA0; /*#ffe6cc;*/
	height:300px;
	width:100%;
	display:flex;
	}
	#image3{
	height:250px;
	width:350px;
	border-radius:10px;
	box-shadow:3px 3px #301f15;
	margin:30px;
	margin-top:22px;
	}
	#sectiondiv{
	font-family:verdana;
	font-size:20px;
	color:#301f15;
	margin-left:70px;
	}
	#pmargin{
	margin-top:-10px;
	}
	#ptext{
	font-size:15px;
	color:black;
	}
	#summary{
	color:white;
	background-color:#301f15;
	font-family:verdana;
	font-weight:bold;
	width:150px;
	padding:15px;
	font-size:20px;
	margin-top:25px;
	}
	#section3{
	background-color:#655546;
	height:300px;
	width:100%;
	margin-top:-42px;
	}
	#review{
	color:#301f15;
	display:flex;
	justify-content:space-evenly;
	}
	.paragraph{
	height:100px;
	width:300px;
	background-color:#DBBCA0;
	border-radius:20px;
	padding:10px;
	text-align:center;
	font-size:12.5px;
	box-shadow:3px 3px white;
	font-family:verdana;
	}
	#review1{
	color:white;
	font-family:verdana;
	text-align:center;
	font-size:45px;
	padding-top:10px;
	}
	#revpara{
	color:white;
	font-family:verdana;
	text-align:center;
	font-size:25px;
	margin-top:-30px;
	}
	#mark{
	font-weight:bold;
	color:#009999;
	}
	#section4{
	height:500px;
	width:100%;
	background-color:#666666;
	display:flex;
	justify-content:space-evenly;
	}
	#footerimg{
	height:150px;
	width:150px;
	margin-bottom:-20px;
	margin-left:-30px;
	}
	.footer1{
	color:white;
	font-family:verdana;
	}
	.pfooter{
	font-size:19px;
	margin-top:-10px;
	}
	.footerform{
	margin-top:10px;
	margin-bottom:10px;
	}
	.submit{
	height:30px;
	width:90px;
	font-family:verdana;
	background-color:#333333;
	color:white;
	font-weight:bold;
	border:none;
	}
	.foot:hover{
	text-decoration:underline;
	}
	#section5{
	height:60px;
	width:100%;
	background-color:#333333;
	margin-top:-16px;
	}
	#copyright{
	color:white;
	text-align:center;
	font-family:verdana;
	position:absolute;
	margin-left:400px;
	margin-top:20px;
	}
  